language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - platform-tools
    # - tools

    # The BuildTools version used by your project
    - build-tools-25.0.0

    # The SDK version used to compile your project
    - android-17

    # Additional components
    #- extra-google-google_play_services
    #- extra-google-m2repository
    #- extra-android-m2repository
    #- addon-google_apis-google-19

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    #- sys-img-armeabi-v7a-android-17
    #- sys-img-x86-android-17
before_install:
 - chmod +x gradlew

script:
  - ./gradlew assembleRelease

deploy:
  provider: releases
  api_key:
    secure: "bno5ij97LWoyeWl9Ia054Am7Q+MKhoZioBhAm/O+YSmY7+zvoRnMFZvWNPeyEqpcBjzzOnreTU8/lpXdAxUbxkyjA42bGEDDRR/cjMq0z7+1UNKaV5RHG3wP8vBA58rP03wTUKQ81MKYAno7zBgArzXpmyCmJ/WQPVL1/KXI1tyablm4qVyHZq+v2MT/RM3FSI8XHoggD4jQ+i1liz+V7H2OEnp/QNSV/k9LzaQwEj1X6mPBMgIziNMZYBp9Xo1Gsm7h458DCKx1LaKReQM9w3Ao0SNZwE3+UnJ4IbXA5yrT6OqUjSWTUQqCdW3JAdoozTUOkMsKeM4Dg0tqp/55561KCQBJnAaqD3zZpS0LTEL/1a0+NmV841bndqpjLDFDpLqP4PGk4l0BmuJ46MLQ7SueQaREUGeBpk1HruiLVj2P9H3fGEdFvy/Cv4un4qbe+9mrRHdPq1xU1fJORsUA8dyVzG9sBnpCpNYFv/gC8pGAWNCzbSBnFTfPpi5vYAsG2ALBocWPSca3Sx3C2joXCd+lYbTi616MngIbWO/xa6Ea4dr0jSGpBekSrfSseg+4G2itiN4RV2LEmUWHtSwZVb3bqJJK/w55tmiD/fBtKuJH+Oj1vY4I/eTRnBtJOIqazv+DMLL1af3Lh6qakj9nujYdNzTiee1RVEInU1kC8AA="
  file: app/build/outputs/apk/app-release.apk
  skip_cleanup: true
  on:
    tags: true