<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.re2x.g6sscreensaver" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".App">
        <activity android:name="com.re2x.g6sscreensaver.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.re2x.g6sscreensaver.NavBroadcastReceiver">
            <intent-filter>
                <action android:name="cn.flyaudio.media.action.TRACK_DETAILS" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.tencent.qqmusic.ACTION_META_CHANGED.QQMusicPhone" />
                <action android:name="com.android.music.metachaged" />
                <action android:name="com.kugou.android.music.metachanged" />
                <action android:name="com.android.music.musicservicecommand" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="AUTONAVI_STANDARD_BROADCAST_SEND" />
            </intent-filter>
        </receiver>
    </application>

</manifest>